/*
* {
	margin:0;
	padding:0;
}
*/

body, html {
	font-family: Tahoma, sans-serif;
	font-size:24px;
	font-weight:normal;
	margin:0;
	height:100%;
	width:100%;
}

a.text-link {
	color:white;
	text-decoration-line:none;
}

.box-1 {
	background: url("background-image.jpg");
	height: 100%;
	background-position:center;

	width:100%;
	margin:auto;
	text-align:center;
	padding-top:15%;
	padding-bottom:15%;
}

.box-1-title {
	font-size:72px;
	color:white;
	line-height:1em;
	text-shadow: 2px 2px black;
} 

.box-1-subtitle {
	font-size: 16px;
	color:white;
	line-height:1.5em;
	text-shadow: 1px 1px black;
}

hr {
    display: block;
    border: 1;
    border-top: 1px solid #fff;
    padding:0;
    margin-bottom:0%;
    margin-top:0%;
    width:30%;
}