body html {
	margin:0;
	padding:0;
	height: 100%;
}

.container {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.background-image {
	background-size: cover;
	background-image: url(background-image.jpg);
	background-position: center center;
	top: 0;
	bottom: 0;
	height: 65vh;
}

.about-me {
	color:black;
}

.about-me-image {
	object-fit: cover;
	height:100%;
	width:100%;
	padding:0;
	padding-left:10px;
	box-sizing:inherit;
	border-radius: 5%;
}

.title {
	padding-top: 10%;
	color: white;
	text-align: center;
	background-size: cover;
	width: 100%;
}

.about-me-info {
	text-align: center;
	font-size: 1.0rem;
	padding-left: 20px;
	padding-right: 20px;
}

#name-top-hr {
	padding:0;
	margin-top:0;
	margin-bottom:0;
	width:50%;
	border-top: 3px solid rgba(255, 255, 255, 0.75);
}

#name {
	margin-bottom: 0px;
}

#name-description {
	font-size: 1.5em;
	margin-bottom: 10px;
}

#uni-link {
	text-decoration-style: none;
	color: white;
}

#profile {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
}

#about-me-title {
	text-align:center;
	margin-top: 15px;
}

#profile-hr {
	padding:0;
	margin-top:0;
	margin-bottom:0;
	width:50%;
	border-top: 3px solid rgba(0, 0, 0, 0.75);
}

#skills {
	background-color: rgb(64, 64, 64);
	padding-top: 20px;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 45px;
}

#portfolio {
	align-items: center;
	background-color: rgb(0, 0, 0);
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 45px;
}

#skills-title {
	text-align: center;
	color: white;
	margin-bottom: 25px;
}

.list-title {
	background-color: black;
	border-color: white;
	color: white;
}

.list-group {
	padding-bottom: 10px;
}

.card {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.contact-form {
	margin-left: 10%;
	margin-right: 10%;
}

#form-name {
	padding-left: 20px;
	padding-right: 20px;
}

#form-email {
	padding-left: 20px;
	padding-right: 20px;
}

#form-message {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 12px;
	padding-right: 12px;
}