body html {
	margin:0;
	padding:0;
}

.background-image {
	background-size: cover;
	background-image: url(background-image.jpg);
	background-position: center center;
	top: 0;
	bottom: 0;
	height: 65vh;
}

.title {
	padding-top:10%;
	color:white;
	text-align: center;
	background-size: cover;
	width: 100%;
}

#name-top-hr {
	padding:0;
	margin-top:0;
	margin-bottom:0;
	width:50%;
	border-top: 3px solid rgba(255, 255, 255, 0.75);
}

#name {
	margin-bottom: 0px;
}
#name-description {
	font-size: 1.5em;
	margin-bottom: 10px;
}

#uni-link {
	text-decoration-style: none;
	color: white;
}

