body {
    font-family: Segoe UI;
    margin: 0;
    padding: 0;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.homeContainer {
    min-height: 100vh;
    scroll-snap-align: start;
}

.worksContainer {
    scroll-snap-align: start;
    padding-top: 3vh;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 100vh;
    background-color: grey;
}

.projectContainer {
    padding: 0;
}

.topNavContainer {
    padding-right: 34px;
    height: 10vh;
}

.topNavItem {
    float: right;
    color:gray;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.homeTextContainer {
    padding-left: 10%;
    padding-right: 10%;
    height: 78vh;
}

.homeTitle {
    font: normal normal 600 5em/1.2 Segoe UI;
    font-size: 4.4vh;
    text-align: left;
    padding-top: 25vh;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: grey;
}

.homeSubtitle {
    font: normal normal normal Segoe UI;
    font-size: 3vh;
    line-height: 1.2;
    text-align: left;
}

.homeLinks {
    padding-top: 2vh;
}

.arrowContainer {
    text-align: center;
    height: 10vh;
}

.arrow {
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 3px;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.worksTitle {
    font-size: 3.5vh;
    padding-bottom: 3vh;
}

.btn {
    padding: 2px;
    width: 50;
    height: 50;
}

.btn-light {
    background-color: white;
    border-color: white;
}

.btn-icon {
    height: 50px;
    width: 50px;
}

.iconImage {
    height: 30x;
    width: 30px;
}

.projectImage {
    max-width:100%;
    max-height:100%;
    border: 2px solid black;
    border-radius: 15px;
}

.projectTitle {
    font-size: 3.5vh;
}

.projectDescription {
    font-size: 2.25vh;
}

.projectLink {
    font-size: 2.25vh;
}

.projectSpacing {
    height: 4vh;
}

@media screen and (min-width: 601px) {
    .homeTitle {
        font-size: 7vh;
        text-align: left;
        margin-left: -5px;
    }

    .homeSubtitle {
        font-size: 3.25vh;
        text-align: left;
        margin-left: -3px;
    }

    .homeTextContainer {
        padding-left: 17%;
        padding-right: 17%;
    }

    .worksContainer {
        padding-left: 17%;
        padding-right: 17%;
    }

    .btn-light {
        background-color: white;
        border-color: white;
    }

    .iconImage {
        height: 5vh;
        width: 5vh;
        aspect-ratio: auto 50/50;
    }

    .btn-padded {
        margin-left: 20px;
    }
  }
